@charset "UTF-8";
@import url(/oldhp/css/sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

body {
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    color: #666666;
    font-family: 'Noto Serif JP', serif;
}

.container {
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

header {
    background-color: #fcba88;
    padding: 10px;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.description {
    clear: left;
}

.content {
    background-color: #fff;
    padding: 20px;
}
.language {
    margin: 0 0 20px;
}

.language h2 {
    clear: left;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    background-color: #e6cdbb;
    padding: 5px 10px;
}

.language li {
    border-bottom: 1px solid #ccc;
    width: 50%;
    /* float: left; */
    padding: 5px 10px;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

/* original source code https://webliker.info/75964/ */
table{
    width: 20%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table th,table td{
    padding: 2px 0;
    text-align: center;
  }
  
  table tr:nth-child(odd){
    background-color: #eee
  }

footer {
    text-align: center;
    font-size: 80%;
}

@media only screen and (max-width:600px){
    header {
        padding: 5px;
    }
    header h1 {
        font-size: 12px;
    }
    .description h1 {
        font-size: 14px;
    }
    .language li {
        float: none;
        width: inherit;
    }
}